.ccm-term > .calculation {

    display: table;
    border-radius: 25px 25px 25px 25px;
    margin-top: 15px;
    text-align: center;
}

.calculation{
    margin-top: 15px;
}

.calculation .term{
    background:lightblue;
    border-radius:0 0 15px 15px
}

.calculation .name{
    background:lightblue;
    border-radius:15px 15px 0 0
}



.button {

    border-radius: 15px 15px 15px 15px;
    background-color: #FFFFFF;
}

.input{

    border-radius: 15px 15px 15px 15px;
    background-color: #FFFFFF;
}

.ccm-term > .calculation > .new_message{

    background-color: #FFFFFF;
    margin-top: 15px;
}

.ccm-term > .calculation > .calculation > .name:after {

    content: ':';
    padding-right: 0.5em;

}


